* {
    box-sizing: border-box;
}

:root {
    --navbar-color: #4f5361;
    --main-color: #0f1b4c;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}
/* Common */
.content {
    width: calc(100vw - 10.31rem * 2);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.button {
    padding: 0.56rem 1.37rem 0.62rem 1.44rem;
    min-width: 6.125rem;
    height: 3.125rem;
    border-radius: 0.5rem;
    color: #fff;
    border-color: transparent;
    background-color: var(--main-color);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
}
/* Header */
.header {
    position: relative;
    background-color: #e6f0ff;
    height: 100vh;
}

.navbar {
    padding-top: 2.37rem;
    display: flex;
    text-decoration: none;
}

.navbar img {
    width: 6.6875rem;
    margin-right: 4rem;
}
.navbar ul {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1.75rem;
}

.navbar .login {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 23.06rem;
}

.navbar ul a {
    color: var(--navbar-color);
    font-size: 0.875rem;
    font-weight: 500;
}

.navbar .login .sign-in {
    background-color: transparent;
    color: var(--main-color);
}

.hero {
    margin-top: 8.13rem;
}

.hero .sub-title {
    width: 15.625rem;
    color: #687690;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.687rem;
    letter-spacing: 0.01125rem;
    margin-bottom: 0.5rem;
}

.hero .title {
    width: 34.9375rem;
    color: #000336;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.75rem;
    font-style: normal;
    margin-bottom: 1.88rem;
}

.hero .desc {
    width: 34.9375rem;
    color: #5a6473;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: lowercase;
    margin-bottom: 2.5rem;
}

.hero .button {
    width: 10.625rem;
    height: 3.125rem;
    flex-shrink: 0;
    text-align: center;
    font-size: 0.8125rem;
    font-weight: 500;
    padding: 0.94rem 2.31rem 0.94rem 2.38rem;
}

.img-hero {
    position: absolute;
    left: 53.06rem;
    bottom: 0rem;
}
